.MonComposant{
    margin-bottom: 10px;
}
.MonComposant_dark{
    padding: 10px;
    background-color: black;
    opacity: 0.6;
    color: white;
}

.MonComposant_light{
    padding: 10px;
    background-color: lightblue;
    color: black;
}